{% extends 'base.html.twig' %}
{% block body %}
 
    <ul>
       <h1>Titre: {{ articles.title }}</h1>
        <p>{{ articles.content }} </p>
        <li>Author: {{ articles.user.name }} </li>  
    </ul>

    <h2>Comments</h2>

    {% for comment in articles.comments %}
    <ul>
        <p> {{ comment.content }}</p>
        <li> ecrit par: {{ comment.users.name }}</li>
        <li>le: {{ comment.dateCreate|date('Y-m-d')}}</li>
        
    </ul>
    {% endfor %}

      {% for categorie in articles.categories %}
                <p>categorie: {{ categorie.name}}</p>
    {% endfor %}


 <h1>Ajouter un Comment</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" />
{{ form_end(form) }}

{% endblock %}

