{% extends 'base.html.twig' %}


{% block body %}
<h1>HEllO welcome to the jurrasic world</h1>
{# <a href={{ path('addUser')}}> Ajouter un user </a> #}
<table class="table table-hover">
<thead>
<tr>
    <th>Id</th>
    <th>Titre</th>
    <th>content</th>
    <th>Date Create</th>
    <th>Author</th>
    <th>Afficher</th>
</tr>
</thead>
  <tbody>
    <tr class="table-active">
        {% for article in articles %}
            <tr>
                <td>{{ article.id}}</td>
                <td>{{ article.title}}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.dateCreate|date('Y-m-d')}}</td>
                <td>{{ article.user.lastName }}</td>
                <td><a class="nav-link" href={{ path('displayArticle', {'id':article.id}) }}>display Article</a></td>
                <td><a href={{ path('displayComments', {'id':article.id}) }}> Afficher les commentaires </a></td>
                 <td><a class="nav-link" href={{ path('editArticle', {'id':article.id}) }}>modifier</a></td>
                 <td><a class="nav-link" href={{ path('deleteArticle', {'id':article.id}) }}>delete</a></td>

            </tr>
        {% endfor %}
 
      </tbody>
</table> 
{% endblock %}

